.align {
    margin: 0 auto;
    margin-left: 5%;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px;
    height: 200px;
    margin: 5px;
    transition: all 1s;
    /*  CSS 3 property it says when a action is taken on the object
     i want all the properties to transition for one sec*/
}

img:hover {
    transform: scale(1.05);
    /*When hovered i want to transform by 1.05 scale growing*/

}

body {
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #536976, #BBD2C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.thumbnail {
    margin: 2px;
}

.jumbotron {
    padding: 0.5em 0.6em;

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;

        .btn {
            padding: 0.5em;
        }
    }
}